parameters:
	ignoreErrors:
		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Contracts\\Structure\\HasChildren\:\:content\(\) has parameter \$items with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Contracts/Structure/HasChildren.php

		-
			message: '#^Call to function is_subclass_of\(\) with class\-string\<Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\> and ''Dancycodes\\\\Hyper\\\\Html\\\\Elements\\\\Base\\\\Element'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Html/ElementRegistry.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\ElementRegistry\:\:make\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/ElementRegistry.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\ContainerElement\:\:children\(\) has parameter \$children with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\ContainerElement\:\:content\(\) has parameter \$items with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\ContainerElement\:\:processContent\(\) has parameter \$items with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\ContainerElement\:\:resolveDefaultClosureDependencyForEvaluationByName\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\ContainerElement\:\:vite\(\) has parameter \$entrypoints with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Parameter \#1 \$entrypoints of callable Illuminate\\Foundation\\Vite expects array\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Parameter \#2 \$buildDirectory of callable Illuminate\\Foundation\\Vite expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Property Dancycodes\\Hyper\\Html\\Elements\\Base\\ContainerElement\:\:\$children type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Property Dancycodes\\Hyper\\Html\\Elements\\Base\\ContainerElement\:\:\$rawHtml \(string\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Html/Elements/Base/ContainerElement.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:class\(\) has parameter \$classes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:dataSignals\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:debug\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:flattenArray\(\) has parameter \$array with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:flattenArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:mergeTailwindClasses\(\) has parameter \$classes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:mergeTailwindClasses\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:resolveDefaultClosureDependencyForEvaluationByName\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:resolveDefaultClosureDependencyForEvaluationByType\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Parameter \#1 \$array of method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:flattenArray\(\) expects array, array\<mixed\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Parameter \#1 \$signals of method Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:storeLockedSignalsIfNeeded\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, \(int\|string\) given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Parameter \#1 \$string of function strtolower expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Property Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:\$attributes type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Property Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:\$classMergeCache type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Property Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:\$classes type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Base/Element.php

		-
			message: '#^Property Dancycodes\\Hyper\\Html\\Elements\\Base\\Element\:\:\$rawHtml \(string\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Html/Elements/Base/TextElement.php

		-
			message: '#^Property Dancycodes\\Hyper\\Html\\Elements\\Base\\TextElement\:\:\$textContent \(string\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Html/Elements/Base/TextElement.php

		-
			message: '#^Parameter \$target of method Dancycodes\\Hyper\\Html\\Elements\\Document\\Base\:\:target\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Document\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Document/Base.php

		-
			message: '#^Parameter \$url of method Dancycodes\\Hyper\\Html\\Elements\\Document\\Base\:\:href\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Document\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Document/Base.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Embedded/Noscript.php

		-
			message: '#^Parameter \$policy of method Dancycodes\\Hyper\\Html\\Elements\\Embedded\\Portal\:\:referrerpolicy\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Embedded\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Embedded/Portal.php

		-
			message: '#^Parameter \$url of method Dancycodes\\Hyper\\Html\\Elements\\Embedded\\Portal\:\:src\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Embedded\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Embedded/Portal.php

		-
			message: '#^Parameter \$name of method Dancycodes\\Hyper\\Html\\Elements\\Embedded\\Slot\:\:name\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Embedded\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Embedded/Slot.php

		-
			message: '#^Parameter \$disabled of method Dancycodes\\Hyper\\Html\\Elements\\Form\\Fieldset\:\:disabled\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Form\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Form/Fieldset.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Form/Legend.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Form/Option.php

		-
			message: '#^Parameter \$ids of method Dancycodes\\Hyper\\Html\\Elements\\Form\\Output\:\:forElements\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Form\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Form/Output.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Form/Output.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Interactive/Summary.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/List/Dd.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/List/Dt.php

		-
			message: '#^Parameter \$alt of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Area\:\:alt\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Area.php

		-
			message: '#^Parameter \$coords of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Area\:\:coords\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Area.php

		-
			message: '#^Parameter \$shape of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Area\:\:shape\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Area.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/Audio.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/Canvas.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/Embed.php

		-
			message: '#^Parameter \$mimeType of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Embed\:\:type\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Embed.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Media/Figcaption.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/Iframe.php

		-
			message: '#^Parameter \$name of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Iframe\:\:name\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Iframe.php

		-
			message: '#^Parameter \$permissions of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Iframe\:\:sandbox\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Iframe.php

		-
			message: '#^Parameter \$policy of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Iframe\:\:allow\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Iframe.php

		-
			message: '#^Parameter \$policy of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Iframe\:\:referrerpolicy\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Iframe.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/Img.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Media/Img.php

		-
			message: '#^Parameter \$name of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Map\:\:name\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Map.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/ObjectElement.php

		-
			message: '#^Parameter \$formId of method Dancycodes\\Hyper\\Html\\Elements\\Media\\ObjectElement\:\:form\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/ObjectElement.php

		-
			message: '#^Parameter \$mimeType of method Dancycodes\\Hyper\\Html\\Elements\\Media\\ObjectElement\:\:type\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/ObjectElement.php

		-
			message: '#^Parameter \$name of method Dancycodes\\Hyper\\Html\\Elements\\Media\\ObjectElement\:\:name\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/ObjectElement.php

		-
			message: '#^Parameter \$url of method Dancycodes\\Hyper\\Html\\Elements\\Media\\ObjectElement\:\:data\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/ObjectElement.php

		-
			message: '#^Parameter \$name of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Param\:\:name\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Param.php

		-
			message: '#^Parameter \$value of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Param\:\:value\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Param.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/Source.php

		-
			message: '#^Parameter \$mimeType of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Source\:\:type\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Source.php

		-
			message: '#^Parameter \$query of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Source\:\:media\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Source.php

		-
			message: '#^Parameter \$sizes of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Source\:\:sizes\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Source.php

		-
			message: '#^Parameter \$srcset of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Source\:\:srcset\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Source.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/Svg.php

		-
			message: '#^Parameter \$namespace of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Svg\:\:xmlns\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Svg.php

		-
			message: '#^Parameter \$viewBox of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Svg\:\:viewBox\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Svg.php

		-
			message: '#^Parameter \$default of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Track\:\:defaultTrack\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Track.php

		-
			message: '#^Parameter \$kind of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Track\:\:kind\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Track.php

		-
			message: '#^Parameter \$label of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Track\:\:label\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Track.php

		-
			message: '#^Parameter \$lang of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Track\:\:srclang\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Track.php

		-
			message: '#^Parameter \$url of method Dancycodes\\Hyper\\Html\\Elements\\Media\\Track\:\:src\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Media\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Media/Track.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Html/Elements/Media/Video.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Meta/Link.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Meta/Meta.php

		-
			message: '#^Parameter \$async of method Dancycodes\\Hyper\\Html\\Elements\\Meta\\Script\:\:async\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Meta\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Meta/Script.php

		-
			message: '#^Parameter \$defer of method Dancycodes\\Hyper\\Html\\Elements\\Meta\\Script\:\:defer\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Meta\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Meta/Script.php

		-
			message: '#^Parameter \$type of method Dancycodes\\Hyper\\Html\\Elements\\Meta\\Script\:\:type\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Meta\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Meta/Script.php

		-
			message: '#^Parameter \$url of method Dancycodes\\Hyper\\Html\\Elements\\Meta\\Script\:\:src\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Meta\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Meta/Script.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Structure/Section.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Table/Caption.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Table/Col.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Table/Colgroup.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Table/Td.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Table/Td.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Html/Elements/Table/Th.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Table/Th.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Abbr.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Address.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/B.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Bdi.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Bdo.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Blockquote.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Cite.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Code.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Data.php

		-
			message: '#^Parameter \$datetime of method Dancycodes\\Hyper\\Html\\Elements\\Text\\Del\:\:datetime\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Text\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Text/Del.php

		-
			message: '#^Parameter \$url of method Dancycodes\\Hyper\\Html\\Elements\\Text\\Del\:\:cite\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Text\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Text/Del.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Del.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Dfn.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Em.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/H2.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/H3.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/H4.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/H5.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/H6.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/I.php

		-
			message: '#^Parameter \$datetime of method Dancycodes\\Hyper\\Html\\Elements\\Text\\Ins\:\:datetime\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Text\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Text/Ins.php

		-
			message: '#^Parameter \$url of method Dancycodes\\Hyper\\Html\\Elements\\Text\\Ins\:\:cite\(\) has invalid type Dancycodes\\Hyper\\Html\\Elements\\Text\\Closure\.$#'
			identifier: class.notFound
			count: 2
			path: src/Html/Elements/Text/Ins.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Ins.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Kbd.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Mark.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Pre.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Q.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Rp.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Rt.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/S.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Samp.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Small.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Strong.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Sub.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Sup.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/Time.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/U.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Html/Elements/Text/VarElement.php

		-
			message: '#^Method Dancycodes\\Hyper\\Html\\Html\:\:__callStatic\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Html/Html.php

		-
			message: '#^PHPDoc tag @param for parameter \$args with type mixed is not subtype of native type array\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Html/Html.php
